<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>MAIN_PROFILE_TITLE</string>
			<key>File</key>
			<string>Profile</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>MAIN_ACTIVITY_TITLE</string>
			<key>File</key>
			<string>Activity</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>MAIN_PRIVACY_TITLE</string>
			<key>File</key>
			<string>Privacy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>MAIN_NOTIFICATIONS_TITLE</string>
			<key>File</key>
			<string>Notifications</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>MAIN_CONNECT_TITLE</string>
			<key>File</key>
			<string>Connect</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>MAIN_ABOUT_TITLE</string>
			<key>File</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>LOGOUT_GROUP_TITLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>LOGOUT_TITLE</string>
			<key>Key</key>
			<string>LogoutButtonAction</string>
		</dict>
	</array>
</dict>
</plist>
